<?xml version="1.0" encoding="utf-8"?>
<!-- Android 16 시스템 뒤로가기를 Unity 입력으로 전달하는 주 매니페스트다. -->
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        android:enableOnBackInvokedCallback="false"
        tools:replace="android:enableOnBackInvokedCallback">
        <activity
            android:name="com.unity3d.player.UnityPlayerGameActivity"
            android:theme="@style/UnityThemeSelector"
            android:exported="true"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale|layoutDirection|density"
            android:hardwareAccelerated="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="unityplayer.UnityActivity" android:value="true" />
        </activity>
    </application>
</manifest>
